In [1]:
# import module list is independent on respective file.
import yfinance as yf
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

import seaborn as sns

from datetime import datetime as dt
from datetime import timedelta
from dateutil.relativedelta import relativedelta
from sklearn import metrics
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,  MinMaxScaler
from scipy.stats import mstats
import japanize_matplotlib
from tqdm.notebook import tqdm

In [2]:
pd.read_csv('data/MSPD1.csv', index_col=0, parse_dates=True).loc[skip_to_date:, :]

NameError: name 'skip_to_date' is not defined

In [2]:
skip_to_date = '2005-10-31'
bond1 = pd.read_csv('data/MSPD1.csv', index_col=0, parse_dates=True).loc[skip_to_date:, 'Total Public Debt Outstanding (in Millions)']
bond2 = pd.read_csv('data/MSPD1.csv', index_col=0, parse_dates=True).loc[skip_to_date:, 'Intragovernmental Holdings (in Millions)']

In [3]:
Floating_Rate = pd.read_csv('data/MSPD2.csv', index_col=0, parse_dates=True).loc[skip_to_date:, 'Total Public Debt Outstanding (in Millions)']

In [4]:
saving_securities= pd.read_csv('data/MSPD3.csv', index_col=0, parse_dates=True).loc[skip_to_date:, 'Total Public Debt Outstanding (in Millions)']

In [7]:
Train_data['bond1'] = bond1
Train_data['bond2'] = bond2
Train_data['Floating_Rate'] = Floating_Rate
Train_data['saving_securities'] = saving_securities

In [6]:
# load correct trading day format

csv_file_path = './data/Train_data_all.csv' 
Train_data = pd.read_csv(csv_file_path, index_col=0, thousands=",", parse_dates=True) 
# read different lenghth for cutting
skip_to_date = "2005-10-01" 


# input the ticker
ticker = "IYR" #Real Estate SPDR  



#     Load saved share price file
#file_path = '~/data/' #ダウンロードした人用
file_path = './data/' #自分用
file_name = ticker
file_extension = '.csv'
price_list = pd.read_csv(file_path + file_name + file_extension,thousands=",", index_col=0, parse_dates=True)

In [9]:
Train_data.to_csv('./data/Train_data_all.csv' )

In [8]:
# use correct format's index to retrieve the trading data
post_fundamental = Train_data[skip_to_date:]  

idx = np.searchsorted(price_list.index, post_fundamental.index)
#documents = _list.iloc[idx]
fold_index= 3

In [9]:
def folding_train_data(df, index2):
    try:
        if "index" in df.columns.to_list():
            name = "index"
        else:
            df = df.reset_index(drop=False)
            name = "Date"
        df = df[df.index % index2==0]
        
        
        
    except Exception as e:
        raise e
    else:
        
        df.set_index(name,drop=True, inplace=True)
    
    return df

In [10]:
fold_index= 3
#post_fundamental.rename_axis('Date', inplace=True)
post_fundamental = post_fundamental.loc[skip_to_date:'2023-09-30', :].asfreq(str(fold_index)+'M')

In [11]:
post_fundamental

,Monthly Open,futures,Outlays - Receipts,US Bond,Outlays,Receipts,Government Account Series,State and Local Government Series,Treasury Inflation-Protected Securities,Principal Amount Balance,...,Net Unamortized Amount Increase,Principal Amount Decrease,Net Unamortized Amount Decrease,Accrued Interest Payable Amount,Accrued Interest Increase,Accrued Interest decrease,bond1,bond2,Floating_Rate,saving_securities
Date,,,,,,,,,,,,,,,,,,,,,
2005-10-31,2005/10/1,108.45,47277,4.559,196764,149488,3426716.0,226929,324026.0,4650516.0,...,-3317.0,283089.0,-2854.0,42249.0,14724.0,7436.0,5.207018e+05,211.0870,NaN,203889.9867
2006-01-31,2006/1/1,108.44,-20964,4.527,209045,230010,3523210.0,233441,346861.0,4724637.0,...,-3440.0,337575.0,-3407.0,42944.0,10920.0,8172.0,5.166188e+05,200.7970,NaN,205604.7425
2006-04-30,2006/4/1,105.58,-118841,5.069,196249,315090,3589106.0,238663,367656.0,4819949.0,...,-3287.0,349144.0,-3966.0,45576.0,14400.0,5445.0,5.267018e+05,191.5760,NaN,206067.2130
2006-07-31,2006/7/1,106.03,33164,4.988,192925,159761,3683171.0,237425,393657.0,4819732.0,...,-4380.0,307936.0,-4307.0,45001.0,16296.0,12081.0,5.231556e+05,237.3570,NaN,204825.4417
2006-10-31,2006/10/1,108.22,49321,4.606,217014,167693,3762745.0,241728,415359.0,4880611.0,...,-3661.0,309012.0,-4072.0,45743.0,15541.0,10917.0,5.347091e+05,237.4510,NaN,203210.4370
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-07-31,2022/7/1,121.14,211052,2.642,480383,269331,6944610.0,103866,1789336.0,23952579.0,...,-8236.0,1039462.0,-4215.0,102009.0,49136.0,23537.0,3.788041e+06,6493.6315,626621.8033,162521.9699
2022-10-31,2022/10/1,110.88,87874,4.077,406374,318500,7188183.0,104454,1860886.0,24352542.0,...,-19138.0,1277236.0,-8788.0,94100.0,31762.0,18845.0,3.904340e+06,6875.0515,573224.8228,172555.8400
2023-01-31,2023/1/1,115.08,38784,3.529,486072,447288,7024099.0,99115,1870818.0,24583994.0,...,-13074.0,1707781.0,-13278.0,101418.0,33289.0,31384.0,4.001862e+06,7131.7605,557418.1945,176464.9750
2023-04-30,2023/4/1,116.02,-176181,3.452,462340,638520,6863185.0,102242,1879776.0,24605068.0,...,-14833.0,1311238.0,-15701.0,123653.0,45645.0,14765.0,4.082825e+06,7027.5335,601406.8949,178861.9583
2023-07-31,2023/7/1,111.97,220782,3.959,496942,276160,7178591.0,88043,1901965.0,25708799.0,...,-23047.0,1511497.0,-20551.0,111448.0,43746.0,31206.0,4.200351e+06,6686.2202,527566.6634,177725.0661

In [12]:
DS = post_fundamental.loc[:,'Outlays - Receipts'].values

US_Bond = post_fundamental.loc[:,'US Bond'].values
Futures = post_fundamental.loc[:,'futures'].values

Receipts = post_fundamental.loc[:,'Receipts'].values

Outlays = post_fundamental.loc[:,'Outlays'].values

SLGS = post_fundamental.loc[:,'State and Local Government Series'].values

GAS = post_fundamental.loc[:,'Government Account Series'].values
TIPS = post_fundamental.loc[:,'Treasury Inflation-Protected Securities'].values

PAB = post_fundamental.loc[:,'Principal Amount  Balance'].values
AIPA = post_fundamental.loc[:,'Accrued Interest Payable Amount'].values

NUAB = post_fundamental.loc[:,'Net Unamortized Amount Balance'].values

Bill = post_fundamental.loc[:,'Bill(Net Sales Amount)'].values
Note = post_fundamental.loc[:,'Note(Net Sales Amount)'].values
Bond = post_fundamental.loc[:,'Bond(Net Sales Amount)'].values



SBI = post_fundamental.loc[:,'Saving Bond typeI'].values
SBEE = post_fundamental.loc[:,'Saving Bond typeEE'].values

PAI = post_fundamental.loc[:,'Principal Amount Increase'].values
AII = post_fundamental.loc[:,'Accrued Interest Increase'].values
NUAI = post_fundamental.loc[:,'Net Unamortized Amount Increase'].values

PAD = post_fundamental.loc[:,'Principal Amount Decrease'].values
AID = post_fundamental.loc[:,'Accrued Interest decrease'].values
NUAD = post_fundamental.loc[:,'Net Unamortized Amount Decrease'].values

bond1 = post_fundamental.loc[:,'bond1'].values
bond2 = post_fundamental.loc[:,'bond2'].values
SS = post_fundamental.loc[:,'saving_securities'].values

In [13]:
file_name

'IYR'

In [14]:
# Goal is to anticipate the sign of future rate change from the financial data of the current monthly.
# If the future changes is + , we assign 1, otherwise 0,  to Future change value of the current quarter


# Returned Sales Amount.

# predict the FFO direction

data_2 = []
data_2 = pd.DataFrame(data_2)

# 2023 09 DS, Receipts, GAS, NUA
# 2023 09 DS Receipts Bond NUAB
data_2['DS'] = DS

data_2['SLGS'] = SLGS
data_2["GAS"] = GAS
data_2['Receipts'] = Receipts

# Principal Amount Balance
data_2['PAB'] = PAB
data_2['AIPA'] = AIPA


data_2['Bill'] = Bill
data_2['Note'] = Note
data_2['Bond'] = Bond
'''
data_2['Bill2'] = Bill2
data_2['Note2'] = Note2
data_2['Bond2'] = Bond2
'''
data_2['NUAB'] = NUAB
data_2['SBI'] = SBI
data_2['SBEE'] = SBEE
data_2['AII'] = AII
data_2['PAI'] = PAI
data_2['NUAI'] = NUAI

data_2['PAD'] = PAD 
data_2['AID'] = AID
data_2['NUAD'] = NUAD

data_2['bond1'] = bond1
data_2['bond2'] = bond2
data_2['SS'] = SS

In [15]:
bond1 PAB GAS AIPA

SyntaxError: invalid syntax (3925843809.py, line 1)

In [18]:
data_2[['bond1', 'NUAB', 'DS', 'Receipts', 'PAB','NUAD', 'AII', 'PAD', 'NUAI']]

,bond1,NUAB,DS,Receipts,PAB,NUAD,AII,PAD,NUAI
0,5.207018e+05,-35994.0,47277,149488,4650516.0,-2854.0,14724.0,283089.0,-3317.0
1,5.166270e+05,-36370.0,83072,138840,4709403.0,-3044.0,16617.0,329955.0,-3420.0
2,5.166210e+05,-36826.0,-10967,241883,4714821.0,-3424.0,14014.0,400621.0,-3880.0
3,5.166188e+05,-36859.0,-20964,230010,4724637.0,-3407.0,10920.0,337575.0,-3440.0
4,5.267165e+05,-37870.0,119237,112853,4771117.0,-2970.0,11011.0,302509.0,-3981.0
...,...,...,...,...,...,...,...,...,...
212,4.170502e+06,-108085.0,227768,418317,25461998.0,-17725.0,49285.0,1106743.0,-25961.0
213,4.200351e+06,-110581.0,220782,276160,25708799.0,-20551.0,43746.0,1511497.0,-23047.0
214,4.226927e+06,-117149.0,-89255,283130,26044051.0,-22111.0,45191.0,1996860.0,-28679.0
215,4.246926e+06,NaN,170715,467473,NaN,NaN,NaN,NaN,NaN
216,4.292925e+06,NaN,66563,403433,NaN,NaN,NaN,NaN,NaN

In [31]:

train_len = 7


#namelist = [['Receipts', 'AID', 'NUAI', 'AIPA']]
#namelist = [['PAD', 'NUAI', 'NUAD', 'NUAB']]
namelist = ['Bill', 'Note', 'Bond']

for j in range(0, 2001):
    value2 = 0
    num1 = 0
    df = pd.concat([data_2[namelist], data_2.sample(1, random_state=j, axis=1)], axis=1)

    
    for num in range(5, 100, 5):
        # 欠損値を列の1つ手前の値で埋める
        df = df.dropna(how='any').dropna(how='all', axis=0)
        df = df.fillna(method='ffill')
        X = df.values

        USBond_change = np.where(US_Bond[1:] > US_Bond[0:-1], 1, 0)

        USBond_change = np.append(USBond_change,1)   # adjustment, not being used


        y = USBond_change


        y_test = []
        rate_prediction = []

        result = []
        result = pd.DataFrame(result)
        for i in range(len(y)-train_len+1):
            X_train = X[0:train_len+i-1,:]    # train until previous period, cuz y is forecasting next period
            y_train = y[0:train_len+i-1]
            X_predict = X[0:train_len+i,:] # use most recent reporting period for forecasting

            # Winsorize top 1% and bottom 1% of points.
            # Apply on X_train and X_test separately
            X_train = mstats.winsorize(X_train, limits = [0.01, 0.01])
            X_predict = mstats.winsorize(X_predict, limits = [0.01, 0.01])

            sc = StandardScaler()
            # Fit to training data and then transform it
            X_train = sc.fit_transform(X_train) # SVM is unsuitable to raw larger-scale number, However, Standard saves this.
            X_predict = sc.transform(X_predict) 

            y_test.append(y[train_len+i-1]) # 6, 7, 8, 9, 10, 11.......

            # Initialize svm, rbf is a default kernel
            classifier_rbf = SVC(C=20, kernel = 'rbf', gamma = 'auto', random_state=0)


            # Fit the model on training data

            # Make a prediction on testing data
            try:
                classifier_rbf.fit(X_train, y_train)
                y_pred_rbf = classifier_rbf.predict(X_predict[train_len -1+i,:].reshape(1,-1))
            except:
                pass


            rate_prediction = np.append(rate_prediction,y_pred_rbf)





        result['predict'] = rate_prediction


        from sklearn.metrics import matthews_corrcoef
        value= matthews_corrcoef(y_test, rate_prediction)
        if value < 0.13:
            continue
        elif value >= value2:
            value2 = value
            num1 = num
    if value2 < 0.13:
        continue
    print('corr:', value2, df.columns, num1)


    result.index = [i+timedelta(days=1) for i in post_fundamental.index[train_len-1:]]

In [ ]:
1126 

〇corr: 0.15498260496951669 Index(['NUAB', 'DS', 'Receipts', 'PAB'], dtype='object') 45
    
    ['NUAD', 'AII', 'PAD', 'NUAI']

In [29]:
# Export data to CSV file
export = True
file_path = './prediction/'
file_name = "IYR3mo1202Test"
file_extension = '.csv'

#     new_copy.to_csv(file_path + file_name + file_extension)
if export:
    data = result
    data.to_csv(file_path + file_name + file_extension)

In [ ]:
df